@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

body {
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  background: -webkit-linear-gradient(left,#20c997, #198754);
  overflow-x: hidden;
  font-size: 16px;;
}

a {
  text-decoration: none;
  color: white;
}
ul {
  margin: 0;
}
figure {
  margin: 0;
}
h1, h2, h3, h4, p {
  margin: 0;
  font-weight: normal;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* Colores */
.texto-negro{
  color: #000000;
}
.fondo-negro{
  background-color: #000000;
}
.texto-blanco{
  color: #ffffff;
}
.fondo-blanco{
  background-color: #ffffff;
}
.texto-verde{
  color: #00913e;
}
.fondo-verde{
  background-color: #00913e;
}
/* fin colores*/

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.label_inputs{
  color: rgba(0,0,0, 0.5);
}
.inputs_radius{
  width: max-content !important;
  height: auto !important;
  margin-right: 5px;
}

.input_select{
  outline: none;
  border: 1px solid rgba(200,200,200,0.3);
  color: rgba(0,0,0, 0.5);
}
.menu_arriba{
  background: linear-gradient(262deg,#00913e,#c7ce02);
}
.imagen_perfil{
  border-radius: 50%;
  border:2px solid white;
  width: 60px;
  height: 60px;
  object-fit: cover;
  outline: none;
}
.pantalla_match{
  height: calc(100% - 73px);
}

.text-titulos-1{
  font-size: 20px;
}

.card {
  position: relative;
  width: 400px;
  height: 500px;
  padding: 20px;
  min-width: 300px;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  box-shadow: 0px 18px 53px 0px rgba(0, 0, 0, 0.3);
}

.card > h3 {
  color: white;
  position: absolute;
  bottom: 10px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 3px;
}

.card__container {
  display: flex;
  justify-content: center;
  margin-top: 2.8vh;
}

.swipe {
  position: absolute;
}

.buttons-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  bottom: 20px;
}

.buttons {
  display: flex;
}

.buttons .MuiIconButton-root {
  background-color: white;
  padding: 1.8vw;
  margin: 0 50px;
  box-shadow: 0px 10px 53px 0px rgba(0, 0, 0, 0.3);
}

.MuiIconButton-root:hover{
  background-color: white !important;
}
.buttons__replay {
  color: #f5b748;
}

.buttons__close {
  color: #ec5e6f;
}

.buttons__star {
  color: #62b4f9;
}

.buttons__fav {
  color: #76e2b3;
}

.buttons__flash {
  color: #915dd1;
}
.div_contenedor_personas{
  width: 100%;
  height: 700px;
}

.div_personas_matches{
  width: 100%;
  height: auto;
  object-fit: cover;
}

.div_imagen_personas_matches{
  width: 104px;
  height: 145px;
  transition: transform .2s;
}
.imagen_personas_matches{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.div_imagen_personas_matches:hover {
  transform: scale(1.1); 
  cursor: pointer;
}

.label_nombre_matches{
  bottom: 0px;
  left: 20px;
}
