@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}
html,body{
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;

  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: white;
}
ul {
  margin: 0;
}
figure {
  margin: 0;
}
h1, h2, h3, h4, p {
  margin: 0;
  font-weight: normal;
}

.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 60% 40%;
  margin: 40px auto;
  min-width: 650px;
  min-height: 350px;
}

/* .image-container {
  min-width: 60%;
  min-height: 60%;
} */

.image {
  /* padding: 20px; */
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 100%;
  height: 100%;
  position: relative;
}

.title {
  padding: 10px;
  margin-right: auto;
  font-weight: 700;
  letter-spacing: 3px;
  font-size: 3rem;
}

.form__field,
.form__submit {
  padding: 10px;
  width: 100%;
}

.form__label {
  margin-right: 10px;
  font-size: 16px;
  font-weight: bolder;
  letter-spacing: 1px;
}

.form__input,
.form__select {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #222;
}

.form__checkbox {
  margin-right: 10px;
}
.buttons {
  width: 100%;
}

.form__submit {
  background-color: #00913e;
  border: none;
  color: #fff;
  letter-spacing: 1px;
  padding: 15px;
  border-radius: 12px;
  width: 150px;
  margin-right: auto;
  outline: none;
}

.form__submit:hover {
  background-color: #00913e;
  color: #fff;
}

.form__button {
  background-color: #f8f8f8;
  border: none;
  color: #999;
  letter-spacing: 1px;
  padding: 15px;
  border-radius: 12px;
  width: 170px;
  outline: none;
}

.form__button:hover {
  background-color: #00913e;
  color: #fff;
}

.form__radio {
  display: flex;
  width: 70%;
  justify-content: space-between;
}

input[type='radio'] {
  width: 11px;
  height: 11px;
  margin: 2px;
  margin-right: 7px;
}

.registered {
  position: absolute;
  bottom: 40px;
  right: 30px;
  font-size: 14px;
  letter-spacing: 2px;
}

.form__radio-item label {
  font-weight: 400;
}
